In [1]:
import pandas as pd
import numpy as np
import random

In [2]:

city_list = ["New York", "Manchester", "California", "Munich", "Bombay", 
             "Sydeny", "London", "Moscow", "Dubai", "Tokyo"]

job_list = ["Software Development Engineer", "Research Engineer", "Test Engineer", 
            "Software Development Engineer-II", "Python Developer", "Back End Developer",
            "Front End Developer", "Data Scientist", "IOS Developer", "Android Developer"]

cmp_list = ["Amazon", "Google", "Infosys", "Mastercard", "Microsoft", 
            "Uber", "IBM", "Apple", "Wipro", "Cognizant"]

In [3]:
data = []
for i in range(1000):
  
    company = random.choice(cmp_list)
    job = random.choice(job_list)
    city = random.choice(city_list)
    salary = int(round(np.random.rand(), 3)*10**6)
    employment = random.choices(["Full Time", "Intern"], weights=(80, 20))[0]
    rating = round((np.random.rand()*5), 1)
    
    data.append([company, job, city, salary, employment, rating])

In [4]:
data = pd.DataFrame(data, columns=["Company Name", "Employee Job Title",
                                   "Employee Work Location",  "Employee Salary", 
                                   "Employment Status", "Employee Rating"])

In [5]:
data.head()

,Company Name,Employee Job Title,Employee Work Location,Employee Salary,Employment Status,Employee Rating
0,Apple,IOS Developer,New York,315000,Intern,1.0
1,Infosys,Software Development Engineer-II,Dubai,867000,Full Time,3.3
2,Microsoft,Data Scientist,New York,261000,Full Time,2.4
3,Amazon,Front End Developer,Manchester,870000,Intern,4.9
4,Amazon,IOS Developer,Dubai,543000,Full Time,4.9