### Table of Contents <a class="anchor" id="DS108L4_toc"></a>

* [Table of Contents](#DS108L4_toc)
    * [Page 1 - Part 1](#DS108L4_page_1)
    * [Page 2 - Part 2](#DS108L4_page_2)

<hr style="height:10px;border-width:0;color:gray;background-color:navy">

# Page 1 - Part One<a class="anchor" id="DS108L4_page_1"></a>

[Back to Top](#DS108L4_toc)

<hr style="height:10px;border-width:0;color:gray;background-color:navy">

### 1. Create a view named "FilmList that shows the title, release year, rating and length of films that have a length of less than 100. Once that is complete, select and view your newly created view.

-- query 1 <br>
create view FilmList as <br>
select title, release_year, rating, length <br>
from film <br>
where length < 100; <br>

-- query 2 <br>
-- select * from FilmList; <br>

<hr style="height:10px;border-width:0;color:gray;background-color:navy">

# Page 2 - Part Two<a class="anchor" id="DS108L4_page_2"></a>

[Back to Top](#DS108L4_toc)

<hr style="height:10px;border-width:0;color:gray;background-color:navy">

#### Create a table named "SalesAnalysis". Include the following columns: <br>

* ProductId <br>
* ProductName <br>
* ListPrice <br>
* DateAdded <br>
* ProductRanking <br>
### Include the following requirements: <br>

#### Every product should have an automatically generated id number that should be unique for each product. <br>
#### Give each column a data type that would apply <br>
#### Make ListPrice in a price format: 12.99, for example.
#### Give the DateAdded column a default value for the current local time. <br>
#### All columns CANNOT be null. <br>
#### Next, insert one product into the table following the given guidelines when the table was created. When inserting the data, don't include the ProductId or the DateAdded. <br>Finally, run a query to see the single product in your table.


CREATE TABLE sakila.SalesAnalysis ( <br>
ProductId INTEGER PRIMARY KEY AUTO_INCREMENT, <br>
ProductName VARCHAR(50) NOT NULL, <br>
ListPrice NUMERIC(4,2) NOT NULL,<br>
DateAdded DATETIME DEFAULT CURRENT_TIMESTAMP,<br>
SalesRanking INTEGER NOT NULL <br>
); <br>

### Query 2 <br>

INSERT INTO sakila.SalesAnalysis(ProductName, ListPrice, SalesRanking) <br>
values("Yoga Heated Toe Socks", "16.99", "19562"); <br>
--- Don't forget to add a semicolon so SQL knows that's the end of this insert.

INSERT INTO sakila.SalesAnalysis(ProductName, ListPrice, SalesRanking)  <br>
values("Stream", "15.99", "4564"); <br>

### Once your values are added,  select * all to view them

SELECT * FROM sakila.SalesAnalysis;

#### Now, for fun, you can look at columns like this:

SELECT TABLE_NAME <br>
FROM information_schema.columns<br>
WHERE column_name = "film_id"<br>
AND table_schema = "sakila";

#### We get an output of table names which contain the column name film id. This is saying select the tables by name from information schema.columns where the column name equals film id and the table schema equals sakila. All tables in sakila that have the film id column, output is the five tables that have that column name. This is a quicker way to identify what your columns are in a new database.

#### Once you're finished, you can drop the SalesAnalysis table from sakila this way:

DROP TABLE SalesAnalysis;