### Table of Contents <a class="anchor" id="BeyondSQL3_toc"></a>

* [Table of Contents](#BeyondSQL3_toc)
    * [Page 1 - Introduction](#BeyondSQL3_page_1)
    * [Page 2 - Getting to Know classicmodels](#BeyondSQL3_page_2)
    * [Page 3 -  Using IN to make code more efficient](#BeyondSQL3_page_3)
    * [Page 4 - How to Reverse Engineer an ERD](#BeyondSQL3_page_4)
    * [Page 5 - Ascending and Descending Order](#BeyondSQL3_page_5)
    * [Page 6 - Other Tips and Tricks in MySQL](#BeyondSQL3_page_6)
    * [Page 7 - ](#BeyondSQL3_page_7)
    * [Page 8 - Comments](#BeyondSQL3_page_8)
    * [Page 9 - future](#BeyondSQL3_page_9)
    * [Page 10 - Key Terms](#BeyondSQL3_page_10)
    * [Page 11 - Lesson X Exam](#BeyondSQL3_page_11)

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 1 - Introduction <a class="anchor" id="BeyondSQL3_page_1"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

from IPython.display import VimeoVideo

#Tutorial Video Name: future name here 

#VimeoVideo('0000', width=720, height=480)

This lesson is an exercise in real-world scenarios.  You are a data analyst for Entity Cars, a high-end classic car company located in the Southwest. It's a popular chain of car dealerships that sells high-end vintage race cars, motorcycles, and even the occasional helicopter. They cater to wealthy collectors and car enthusiasts and as such, maintain an active marketing department and inquisitive and engaged C-suite. Your job is to provide answers to their questions that solve business goals, and you answer to the Vice President of Sales. The marketing department actively uses your insights to plan events, sales and marketing outreach. You'll be using classicmodels for this.

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page  2- Getting to Know classicmodels <a class="anchor" id="BeyondSQL3_page_2"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

Here is a link to the author of the classicmodels database, in his __[Github repository](https://gist.github.com/prof3ssorSt3v3/796ebc82fd8eeb0b697effaa1e86c3a6)__

The asterisk will pull all data from a database. The * symbol is shorthand to return all columns from a database. It's important to realize that the rows will be returned in no specific order. If  you want to return only specific columns from a query, list them in the order you want them returned.

```sql

SELECT productName, MSRP FROM products;
```

But if you wanted MSRP listed first:

```sql

SELECT MSRP, productName FROM products;
```

If you wanted to get all products with models in the years between 2014 and 2016, as well as any products that are scooters, we could write:

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 3 - Using IN to make code more efficient <a class="anchor" id="BeyondSQL3_page_3"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

Anthony Bow, the Sales Manager for North America, has asked for a phone list for customers in California so his District Managers there can follow up on how customers feel about service they received recently, based on a dashboard you created last month about dipping sales figures in some areas of the state.  Anthony is asking for this list alphabetically by customer last name and would like it by tomorrow morning.

```sql
SELECT customerName, phone from customers
WHERE state = "CA"
ORDER BY contactLastName;
```

explanation here

It's the next week, and Anthony has gotten feedback from the district managers. He would like to expand the plan to have managers call customers in Nevada, New York and Massachusetts, after learning that some customers are driving from out of state to purchase vehicles in a few of the dealerships in California. How will you write this query, in as few lines as possible? Remember to make it easy for the managers to split up the list by state.

```sql
SELECT customerName, phone, state from customers
WHERE state IN ("CA", "NY", "MA", "NV")
ORDER BY state, contactLastName;
```

Anthony also would like to know how many customers are coming from outside the United States and where they're traveling in from.

```sql
select country from customers
WHERE country NOT IN ("USA");
```

You could search for multiple customerNumbers this way, and it's not wrong, but you're looking for fluency, efficiency and proficiency, so look for ways to incorporate **IN** and **NOT IN** where you can.

```sql
SELECT customerNumber, customerName, city, state FROM customers
WHERE customerNumber = 112 OR customerNumber = 151 OR customerNumber = 216 OR customerNumber = 489;

-- This way is cleaner coding:
    
SELECT customerNumber, customerName, city, state FROM customers
WHERE customerNumber IN (112, 151, 216, 489);

```

In [ ]:
<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 4 -  <a class="anchor" id="BeyondSQL3_page_3"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 5 - Ascending and Descending Order <a class="anchor" id="BeyondSQL3_page_3"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

The Customer Service manager wants to follow up with customers who gave 
feedback in the comments section of orders and she is asking you for a list of customers, 
their phone number, the comments and quantity ordered so that sales reps can follow up 
with the customers about each customer's exact issue. They would like this list by end of day.

```sql
/* 
You'll need to join two tables that don't share a foreign or primary key - but you'll need a third table, a middleman, in order to return the information you need. Like Nik says, this table is like a mutual friend, introducing customers and orderdetails tables to each other. 
*/



select contactLastName, contactFirstName, phone, comments, quantityOrdered from customers
JOIN orders USING (customerNumber)   
JOIN orderdetails USING (orderNumber)
WHERE comments IS NOT NULL
ORDER BY orderDate DESC;

```

The customer service manager is happy with the results, but would like to have the first name listed first in the tables, and would like a nicer presentation for when he presents to his team, and has asked you to revise the query results. How would you do that?

```sql

CREATE VIEW CommentCards AS
SELECT contactFirstName AS FirstName, contactLastName AS LastName, phone, comments, quantityOrdered from customers
JOIN orders USING (customerNumber)   
JOIN orderdetails USING (orderNumber)
WHERE comments IS NOT NULL
ORDER BY orderDate DESC;

SELECT * FROM CommentCards

```

The staff accountant is going through bank deposits in anticipation of an upcoming audit. The accountant would like to match up payments and payment dates with information from their records and is requesting a list of those things, starting with the largest amount first, in descending order.

```sql

SELECT paymentDate, amount FROM payments
ORDER BY amount DESC;

```

Accounts Receivable Dept is asking for purchases older than a year, or less then $1,000. They would like to write off some of the old debt and send other accounts to collections. Compile a report for A/R.

In [ ]:
<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 6 - C-Suite Requests <a class="anchor" id="BeyondSQL3_page_3"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

The CEO has an upcoming state of the business address and is asking for some information as part of the report. The first request is for a total value of inventory on hand. You will need to use the SUM function on buyPrice and quantityInStock and call that InventoryValue. <br>
The CEO is not interested in amounts of product inventory worth less than 50,000, as orders for new stock are expected to come in the next quarter and won't affect the company's P&L statement at this time. The CEO wants only InventoryValues more than $100,000.

```sql

SELECT productCode, SUM(buyPrice * quantityInStock) AS InventoryValue
FROM products
GROUP BY productCode
HAVING SUM(buyPrice * quantityInStock) > 100000
ORDER BY InventoryValue DESC;

```

Next on the list of tasks is pulling together revenue for the year, and identifying which products brought in the highest revenue for the company. The CEO intends to build on what worked in the past year and have staffers search for similar vehicles, given the success of the products in the past year. Build a table called Revenue that returns the productCode, productName, the sum of quantityOrdered times MSRP (which is the revenue). Group by productCode, include only those sales over 10,000 and sort it in descending order, with largest figure first.

```sql
SELECT productCode, productName, SUM(quantityOrdered * MSRP) as Revenue
FROM products
JOIN orderdetails USING (productCode)
GROUP BY productCode
HAVING SUM(quantityOrdered * MSRP) > 10000
ORDER BY Revenue DESC;
```

In [ ]:
<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 7 - Updating Records in Tables <a class="anchor" id="BeyondSQL3_page_3"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

```sql
/*insert  into offices(officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory) values 

('1','Phoenix','+1 602 319 4882','1005 Camelback Road','Suite 300','AZ','USA','85015','NA'),

('2','Orlando','+1 407 832 0825','1556 University Boulevard','Suite 102','FL','USA','32820','NA'),

('3','Sault Ste. Marie','+1 905 632 3000','523 East Ashmun Avenue','Suite 5A','MI','USA','49783','NA'),
*/
```

In [ ]:
<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 8 -  <a class="anchor" id="BeyondSQL3_page_3"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

The Sales Department is working remotely this week, and one of the sales reps is with a client in a restaurant. He's calling you from the restroom to see if you can search the product database for a Triumph or Ducati motorcycle. The sales rep is pretty sure he can secure the deal if you're willing to help him. Search the database for any productNames that contain "Triumph" or "Ducati" in the name.

```sql
SELECT productName from products
WHERE productName LIKE '%Triumph%';
```

```sql
SELECT productName FROM products
WHERE productName LIKE '%Triumph%' OR productName LIKE '%Ducati%';
```

Using this logic, see if you can find a historic boat listed in the database.

Use IN  to make that query neater and less repetitive.

In [ ]:
<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 9 -  <a class="anchor" id="BeyondSQL3_page_3"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

In [ ]:
<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 10 -  <a class="anchor" id="BeyondSQL3_page_3"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">

In [ ]:
<hr style="height:10px;border-width:0;color:gray;background-color:teal">

# Page 11 -  <a class="anchor" id="BeyondSQL3_page_3"></a>

[Back to Top](#BeyondSQL3_toc)

<hr style="height:10px;border-width:0;color: gray;background-color:teal">